# PROXMOX API CONFIGURATION (Заполните своими данными)
PROXMOX_HOST=https://192.168.0.196:8006
PROXMOX_NODE=pve
PROXMOX_TOKEN_ID=
PROXMOX_TOKEN_SECRET=
PROXMOX_STORAGE_POOL=local-lvm
PROXMOX_NETWORK_BRIDGE=vmbr0

# НАСТРОЙКИ СЕТИ ДЛЯ НОВЫХ ВМ
VM_NETWORK_GATEWAY=192.168.0.1
VM_NETWORK_CIDR=24

# DATABASE CONFIGURATION
DATABASE_URI=postgres://postgres:postgres@localhost:5432/nexus_db
PAYLOAD_SECRET=

# YOOKASSA CONFIGURATION
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
